- content_for :body do
  .container-fluid
    .row-fluid
      .span3
        .well.sidebar-nav
          %ul.nav.nav-list
            %li.nav-header Sidebar
            %li.active
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li.nav-header Sidebar
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li.nav-header Sidebar
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
            %li
              %a{:href => "#"} Link
        / /.well
      / /span
      .span9
        .hero-unit
          %h1 Hello, Belly!
          %p
            This is a template for a simple
            %a#_GPLITA_2{:href => "#", :in_rurl => "http://i.trkjmp.com/click?v=VVM6MzUxNTU6NDptYXJrZXRpbmc6N2I3MmUxOTgxOWY5NDRmOGY0ZTMwNzViOTExNjc3ZDk6ei0xMTIyLTExNTExNTp0d2l0dGVyLmdpdGh1Yi5jb206Mzc2OTI6YWMwNmFjNDdmN2I4NDY4MTZhMDMyMWEyZDg2NTllYjI", :style => "text-decoration:underline", :title => "Click to Continue > by CouponDropDown"} marketing
            or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
          %p
            %a.btn.btn-primary.btn-large{:href => "#"} Learn more »
        .row-fluid
          .span4
            %h2 Heading
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            %p
              %a.btn{:href => "#"} View details »
          / /span
          .span4
            %h2 Heading
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            %p
              %a.btn{:href => "#"} View details »
          / /span
          .span4
            %h2 Heading
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            %p
              %a.btn{:href => "#"} View details »
          / /span
        / /row
        .row-fluid
          .span4
            %h2 Heading
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            %p
              %a.btn{:href => "#"} View details »
          / /span
          .span4
            %h2 Heading
            %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            %p
              %a.btn{:href => "#"} View details »
          / /span
          .span4
            %h2 Heading
            %p
              Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
              %a#_GPLITA_1{:href => "#", :in_rurl => "http://i.trkjmp.com/click?v=VVM6MzY0OTI6NjptYXNzYTpkMWYzZWU4NTQ5MTBiYWY0MWEwYWQzYTg4NTAyYTNjMTp6LTExMjItMTE1MTE1OnR3aXR0ZXIuZ2l0aHViLmNvbTo0MTAxMzowNTNjYjRjOTQ2NTk3ZTczMWQxMWZmZDMzMzA3NWI5NA", :style => "text-decoration:underline", :title => "Click to Continue > by CouponDropDown"} massa
              justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
            %p
              %a.btn{:href => "#"} View details »
          / /span
        / /row
      / /span
    / /row
    %hr/
    %footer
      %p © Company 2013
